<!--breadcrumb-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <a href="/projects">Projects</a>
        </li>
    </ol>
</nav>

<table>
    <a href="/project/new">
        <i class="fas fa-plus-circle bigIcon" title="Add a project"></i>
    </a>
    <h2>Projects</h2>
</table>

<div class="tab-content">

    <table class="table">
        {{#each projects}}
            <tr>
                <th>
                    <h4><a href="/project/{{this._id}}">{{this.name}}</a></h4>
                </th>
            </tr>
        {{/each}}
    </table>

</div>
