<!--breadcrumb-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <a href="/projects">Projects</a>
        </li>
    </ol>
</nav>

<h2>Projects</h2>
<ul>
<ul>
    {{#each projects}}
        <li><a href="/project/{{this._id}}">{{this.name}}</li>
    {{/each}}
</ul>