body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcomeText {
  text-align: center;
  font-weight: bold;
}

.welcomeButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.page-header{
  background-color: #f0f0f0;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.border {
  margin-bottom: 15px;
  border-width:1px !important;
  border-color:#cccccc !important;
}

.bigIcon {
  float: right;
  font-size: xx-large;
  color:#1a1aff;
}

.menuIcon {
  float: left;
  font-size: large;
  color:#1a1aff;
}

.date {
  font-style: italic;
}

.settingslist{
  list-style: none;
  padding-left: 0;
}

.comment {
  width: 100%;
  height: 100px;
  padding: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#progressBar {
  width: 100%;
  background-color: grey;
}

#progressBG {
  width: 1%;
  height: 30px;
  background-color: green;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
